@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@100..900&family=Sunflower:wght@300;500&display=swap");

body {
  font-family: "Nanum Myeongjo", serif;
  padding-bottom: 300px;
  position: relative;
}
